@*Hangman home page*@

@{

}

<div id="container" class="wide-container">
		<div class="card">
			<div class="card-title"></div>
			<div class="card-body row" id="main">
				<div id="left-container" class="col-6 border border-dark">
          <div id="user-messages"></div>
          <div id="secret-word-container" class="row d-flex align-items-end">
            <div class="col-6" id="secret-word-div">
              <label for="secret-word-input" class="form-label">Enter the secret word to be guessed:</label>
              <input type="text" class="form-control" id="secret-word-input" placeholder="Your word...">
            </div>
            <div id="secret-word-button-div" class="col-2"><button type="button" class="btn btn-primary" onclick="saveWord()">Choose</button></div>
          </div>
          <div id="guess-container" class="row d-none align-items-end">
            <div class="col-3" id="guess-div">
              <label for="guess-input" class="form-label">Guess a letter:</label>
              <input type="text" class="form-control" id="guess-input" placeholder="">
            </div>
            <div id="guess-button-div" class="col-2"><button type="button" class="btn btn-primary" onclick="letterGuess()">Guess</button></div>
          </div>
          <div id="word-progress-container" class="row mt-3 mb-3 ms-0 me-0 p-3"></div>
          <div id="used-letters-container" class="mt-3 mb-3 p-3">
            <h4>Used Letters</h4>
            <p id="used-letters"></p>
          </div>
					<div id="tries-counter" class="mt-3 mb-3 p-3">
						<h4>Your Tries</h4>
						<span id="tries-count-message" class=""><strong>0 out of 11</strong></span>
					</div>
				</div>
				<div id="right-container" class="col-6">
					<div id="big-user-message-div" class="p-3"></div>
					<div id="hangman-graphic-container" class="p-3">
						<img id="hangman-image" src="hangman-final.png" class="" alt="hangman image">
					</div>
				</div>
			</div>
		</div>
</div>

@section styles
{
	@* <link rel="stylesheet" href="~/assets/css/customSort.css" /> *@
	<link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet" />
	<style type="text/css">
		.wide-container { margin: 10px; }
		 .box {
      width: 200px;
      height: 100px;
      border: 1px solid #ccc;
      margin: 50px auto;
      text-align: center;
      line-height: 100px;
      font-family: sans-serif;
    }
		.left-container {
			max-height: 100vh; /* 100% of the viewport height */
			overflow-y: auto; 
		}
    /* glowing effect */
    .glowGreen {
      animation: glowGreenBorder 2s ease-in-out forwards;
    }
		.glowRed {
      animation: glowRedBorder 2s ease-in-out forwards;
    }

    @@keyframes glowGreenBorder {
      0% {
        border-color: #ccc;
        box-shadow: none;
      }
      50% {
        border-color: #09e841;
        box-shadow: 0 0 20px #09e841;
      }
      100% {
        border-color: #ccc;
        box-shadow: none;
      }
    }

		 @@keyframes glowRedBorder {
      0% {
        border-color: #ccc;
        box-shadow: none;
      }
      50% {
        border-color: #e80909;
        box-shadow: 0 0 20px #e80909;
      }
      100% {
        border-color: #ccc;
        box-shadow: none;
      }
    }
	</style>
		
}

@section scripts {

	<script type="text/javascript">
		const pageTitle = "Hangman game";
		let secretWord = "";
		let secretArray = [];
		let failedTriesCount = 0;

		$(document).ready(async function ()
		{
			$(document).attr("title", pageTitle);
			
		});
		 function glowDiv(divId, colour) 
		 {
			let glowColour = colour === "green" ? "glowGreen" : "glowRed";
      const div = document.getElementById(divId);
      div.classList.remove(glowColour); // reset if clicked multiple times
      void div.offsetWidth; // trick to restart animation
      div.classList.add(glowColour);
    }
		function saveWord()
		{
			let word = $("#secret-word-input").val();
			if (word == "")
			{
				return;
			}
			secretWord = word.trim().toLowerCase();
			secretArray = secretWord.split("");
			$("#secret-word-container").removeClass("d-flex").hide();
			$("#guess-container").addClass("d-flex").removeClass("d-none");
			let $wordProgressContainer = $("#word-progress-container");
			secretArray.forEach((secretLetter, index) => {
				$wordProgressContainer.append(`<div class="col-1"><span class="letter-dash" id="letter-dash-${index}"><h3>-</h3></span><span id="letter-match-${index}" style="display:none"><h3>${secretLetter}</h3></span></div>`);
			});
			$("#hangman-image").attr("src","hangman-0.png");
		}
		function processMatchingLetters(matchArray)
		{
			if (matchArray.length > 0)
			{
				$("#big-user-message-div").empty().append("<span class='text-success'><h3>Good job!</h3></span>");
				glowDiv("word-progress-container", "green");
				let matchedLettersIndexArray = [];
				matchArray.forEach((guessedLetter, index) => 
				{
					secretArray.forEach((secretLetter, index) => 
					{
						if (secretLetter === guessedLetter)
						{
							matchedLettersIndexArray.push(index);
						}
					});
				});

				if (matchedLettersIndexArray.length > 0)
				{
					matchedLettersIndexArray.forEach((letterIndex, index) => 
					{
						$(`#letter-dash-${letterIndex}`).hide();
						$(`#letter-match-${letterIndex}`).show();
					});
				}
			}
		}
		function letterGuess()
		{
			let letter = $("#guess-input").val();
			if (letter === "")
			{
				return;
			}
			if (secretWord === "")
			{
				$("#user-messages").append("<span class='text-danger'>No secret word chosen yet!</span>");
				return;
			}
			letter = letter.trim();
			$("#user-messages").empty();
			$("#used-letters").append(letter);
			$("#guess-input").val("");
		
			let matchCount = 0;
			let matchingLettersArray = [];
			secretArray.forEach((secretLetter, index) => 
			{
				if (secretLetter === "" || secretLetter === " ")
				{
					return;
				}
				if (secretLetter === letter)
				{
					// if (matchingLettersArray.includes(letter))
					// {
					// 	$("#user-messages").append("<span class='text-danger'>Already tried that letter!</span>");
					// 	return;
					// }
					if (!matchingLettersArray.includes(letter))
					{
						matchCount++;
						matchingLettersArray.push(letter);
					}
				}
			});
			if (matchCount > 0)
			{
				processMatchingLetters(matchingLettersArray);
			}
			else
			{
				$("#big-user-message-div").empty().append("<span class='text-danger'><h3>Oh no!</h3></span>");
				glowDiv("tries-counter", "red")
				failedTriesCount++;
				showRelevantImage();
			}
		}
		function showRelevantImage()
		{
			if (failedTriesCount > 0 && failedTriesCount < 12)
			{
				$("#hangman-image").attr("src",`hangman-${failedTriesCount}.png`);
				$("#tries-count-message").empty().append(`<strong>${failedTriesCount} out of 11</strong>`);
			}
		}
		</script>
	}