@*Hangman home page*@
@model Hangman.ViewModel.HomeViewModel

@{
  string secretWord = Model?.SecretWord ?? "";
  int wordLength = secretWord.Length;
}

<div class="container">
  <header>
    <div class="logo-title">
      <div id="logo-placeholder" class="logo-placeholder"><img id="hangman-header-image" src="/hangman-knoose.png" class="" style="width:80%" alt="Hangman Progress"></div>
      <h1 id="game-heading">Hangman &nbsp;</h1>
    </div>
  </header>

  <main class="game-area row">
    <section id="hangman-graphic-container" class="visual-area d-flex col-12 col-lg-6 justify-content-center align-items-center">
      <img id="hangman-image" src="https://imagestore-production.up.railway.app/images/hangman/hangman-final.png" alt="Hangman Character" />
    </section>

    <section class="game-info row col-12 col-lg-6 g-0 mt-0">

      <div id="big-user-message-div" class="info-box message-box mt-0 mt-lg-0">
        <h3><span class='text-danger' id='userMessage'>&nbsp;</span></h3>
      </div>

      <div class="guess-form justify-content-center align-items-center" id="guess-word-container">
        <label for="guess-letter-input">Guess a letter or the whole word:</label>
        <input type="text" id="guess-letter-input" class="guess-input" pattern="[a-zA-Z]" placeholder="Enter a guess" />
        <button id="submit-guess-button" class="btn mt-2 mt-lg-0" onclick="whichGuess()">Guess</button>
      </div>

      <div class="info-box secret-word-box" id="secret-word-box">
        <h2>Secret Word</h2>
        <div id="word-progress-container" class="secret-word-display d-flex align-items-center justify-content-center">
        </div>
      </div>

      <div class="info-box tries-box" id="tries-counter">
        <h2>Remaining Tries</h2>
        <p class="remaining-tries" id="tries-count-message">11</p>
      </div>

      <div class="info-box used-letters-box">
        <h2>Used Letters</h2>
        <p class="used-letters-display" id="used-letters">&nbsp;</p>
      </div>

    </section>
  </main>
</div>
@section scripts {

	<script type="text/javascript">
		$(document).ready(async function ()
		{
			$(document).attr("title", "Hangman Game");
			secretWord = '@secretWord';
			saveWord();
		});
	</script>
}

